<div>
  <h1>Vendedores</h1>
  <button class="login100-form-btn" type="submit" (click)="openModal(buscarVendedor)">
    Buscar Vendedor
  </button>
  <div class="content">
    <div class="container">
      <div class="table-responsive custom-table-responsive">
        <div class="position-relative">
          <div class="px-2">
            <span>Filters <i class="fa fa-angle-down"></i></span>
            <i class="fa fa-ellipsis-h ms-3"></i>
          </div>
          <span class="position-absolute search"><i class="fa fa-search"></i></span>
          <input class="form-control w-100" [(ngModel)]="slpName" placeholder="Buscar por nombre..." name="cardName"
            (input)="listarVendedoresByCardName()">
        </div>
        <table class="table custom-table">
          <thead style="border-radius: 50px;">
            <tr>
              <th>#</th>
              <th>Codigo</th>
              <th>Nombre</th>
              <th>Detalles</th>
            </tr>
          </thead>
          <tbody *ngFor="let vendedor of listaVendedores">
            <tr scope="row">
              <td>{{vendedor.idVendedor}}</td>
              <td>{{vendedor.slpCode}}</td>
              <td>{{vendedor.slpName}}</td>
              <td><a [routerLink]="'/admin/vendedores/'+vendedor.idVendedor">Detalles</a></td>
            </tr>
            <tr class="spacer">
              <td colspan="100"></td>
            </tr>
          </tbody>
          <tfoot>
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item"><a class="page-link" (click)="changePage(-1)" *ngIf="currentPage!=0">Previous</a>
                </li>
                <li class="page-item" *ngFor="let page of pages"><a class="page-link"
                    (click)="changePage(page)">{{page}}</a></li>
                <li class="page-item"><a class="page-link" (click)="changePage(+1)">Next</a></li>
              </ul>
            </nav>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>

<!--Ventana modal buscar cliente-->
<ng-template #buscarVendedor let-modal>
  <!--Cabecera-->
  <div class="modal-header fondo-cabecera">
    <h4 class="modal-title">Buscar vendedor por código</h4>
    <button class="btn close" aria-label="close" type="button" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!--Cuerpo-->
  <div class="modal-body fondo-modal">
    <p>Ingrese el codigo a buscar</p>
    <input class="wrap-input100 " type="text" name="cardCode" [(ngModel)]="slpCode" placeholder="Codigo">
  </div>
  <!--Footer-->
  <div class="modal-footer">
    <button type="submit" class="login100-form-btn" (click)="buscarVendedorBySlpCode()">Buscar</button>
    <button type="button" class="btnCerrar-form-btn" (click)="modal.close()">Cerrar</button>
  </div>
</ng-template>
